body{
    margin: 0;
    padding: 0;
}
#container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.back-video{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100vh;
}
#clock{
    position: relative;
    z-index: 1;
    font-family: monospace;
    font-size: 80px;
    color: azure;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(240, 248, 255, 0.153);
    border-radius: 50px;
}